* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(110deg, #fc5c7d, #6a82fb);
	color: rgb(40, 27, 62);
	font-family: sans-serif;
}

.title {
	font-family: 'Limelight', cursive;
	transition: .5s;
}

main {
	width: min(1200px, 95%);
	margin: 10px auto;
}

button {
	transition: .3s;
	font-weight: 500;
	font-size: 16px;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	background: rgb(40, 27, 62);
	color: white;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	padding: 10px 15px;
}

input {
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

button:hover {
	color: yellow;
	box-shadow: 5px 5px 0 yellow;
}

section {
	height: 50vh;
	border-radius: .5em;
	margin-bottom: 70px;
	background: rgba(255, 255, 255, .3);
	box-shadow: 0px 50px 50px rgba(90, 71, 147, .3);
	padding: 20px;
}

section:last-child {
	margin-bottom: 20px;
}

h2 {
	margin-bottom: 10px;
	color: white;
	font-weight: lighter;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.column {
	flex-direction: column;
}

h1 {
	margin-top: 10px;
	font-size: clamp(30px, 5vw, 50px);
}

p {
	font-weight: bolder;
}
/* EXO 1 */
.color-flip {
	width: 100%;
	height: 100%;
	flex-direction: column;
	gap: 30px;
	border-radius: .5em;
	border: 1px solid white;
}

.color-flip button {
	margin-top: 10px;
}

/* EXO 2 */
#counterProject {
	flex-direction: column;
}

#counterProject h1 {
	margin-bottom: 30px;
}

#counter {
	font-size: 50px;
}

.buttons {
	gap: 30px;
}

/* EXO 3 */
.countdown div {
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	background: rgba(57, 57, 57, .3);
	margin: 0 20px;
	color: white;
	font-size: 3em;
	font-weight: bolder;
	position: relative;
}

.countdown div::before {
	content: '';
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 100%;
	height: 35px;
	background: rgb(40, 27, 62);
	color: white;
	font-size: .4em;
	line-height: 35px;
	font-weight: 300;
}

.countdown #day::before {
	content: 'Days';
}
.countdown #hour::before {
	content: 'Hours';
}
.countdown #minute::before {
	content: 'Minutes';
}
.countdown #second::before {
	content: 'Seconds';
}

#newYear {
	flex-direction: column;
	gap: 30px;
}

/* EXO 4 */

#toDO {
	gap: 20px;
	justify-content: flex-start;
	min-height: 50vh;
}
.paragraph-styling {
	font-size: 20px;
	font-weight: lighter;
	color: white;
	cursor: pointer;
}

#inputField {
	border: none;
	border-radius: 1em;
	height: 30px;
	width: 200px;
	outline: none;
	padding: 10px;
	font-family: sans-serif;
}

#addToDo {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	font-size: 18px;
	padding: 0;
}

.container {
	gap: 10px;
}

.to-dos {
	display: block;
}

/* EXO 5 */

#musicApp {
	gap: 30px;
}
.pads {
	width: 100%;
	/* border: 4px solid white; */
	gap: 10px;
}

.pads > * {
	height: 100px;
	width: 100px;
	cursor: pointer;
	border: 2px solid white;
	transition: .2s;
}

.pads > *:hover {
	transform: scale(1.1);
	box-shadow: 0 10px 20px rgba(57, 57, 57, .2);
}

.pad1 {
	background: #1abc9c;
}
.pad2 {
	background: #f1c40f;
}
.pad3 {
	background: #9b59b6;
}
.pad4 {
	background: #e67e22;
}
.pad5 {
	background: #e74c3c;
}
.pad6 {
	background: #3498db;
}

/* FOOTER */
.footerPara {
	color: white;
	padding: 10px;
	font-weight: lighter;
	text-align: right;
}
i {
	color: rgb(253, 0, 0);
}

/* --------------------------------MEDIA QUERIES-------------------------------- */
@media (max-width: 880px) {
	section {
		height: auto;
		padding: 20px;
	}

	#newYear {
		padding-bottom: 50px;
	}
	.color-flip {
		padding: 20px;
	}
}

@media (max-width: 670px) {
	button:focus {
		background: #281b3e !important;
		box-shadow: none;
		color: white;
		outline: none;
	}
	.countdown div {
		height: 70px;
		width: 70px;
		line-height: 70px;
		margin: 0 5px;
		font-size: 24px;
	}

	.countdown div::before {
		font-size: 16px;
	}

	section {
		margin-bottom: 30px;
	}
	.buttons {
		gap: 10px;
		flex-wrap: wrap;
	}

	.pads {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.pads > * {
		width: 100%;
	}
}
@media (max-width: 350px) {
	.countdown {
		flex-wrap: wrap;
		gap: 50px;
	}

	#newYear {
		height: auto;
		padding-bottom: 50px;
	}

	#inputField {
		width: 150px;
	}

	.pads {
		grid-template-columns: repeat(2, 1fr);
	}
}
